@-webkit-keyframes slideY {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform:translateY(0);
    opacity: 1;
  }
}

@keyframes slideY {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes balls {
  0% {
      -webkit-transform: scale(.9);
      transform: scale(.9)
  }
  to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5)
  }
}

@keyframes balls {
  0% {
      -webkit-transform: scale(.9);
      transform: scale(.9)
  }
  to {
      -webkit-transform: scale(1.5);
      transform: scale(1.5)
  }
}