.banner {
  height: 935px;

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 47px;
  }

  .banner-one {
    padding-top: 130px;
    margin-bottom: 50px;
  }
}

.section-blue {
  background-image: -webkit-linear-gradient(350deg, $bgBlue1, $bgBlue2);
  background-image: linear-gradient(100deg, $bgBlue1, $bgBlue2);
  color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  .btn-light:hover {
    background: transparent;
    color: $white;
  }
}

// TODO: all buttons rounded?
.btn.btn-rounded {
  border-radius: 30px;
  padding: 9px 37px;
  font-size: 14px;
  font-weight: 600;
  border-width: 2px;

  &.btn-lg {
    font-size: 16px;
    line-height: $line-height-base;
    padding: 14px 40px;
  }
}


// TODO: variables?
body {
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $colorGrey3;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;

  &.banner-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}




h3.subtitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  color: $primary;
  text-transform: uppercase;
}

.section-title {
  font-size: 1.75em;
  line-height: 1.4;
}

.section-products {
  padding-top: 76px;
}

img {
  max-width: 100%;
}

.section-grey {
  background: $bgGrey;
}

.call-to-action {
  padding: 5em 0;
}

.list-social li > a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border: 1px solid $borderGrey;
  display: block;
  border-radius: 50%;
  color: $colorGrey2;
  text-align: center;

  &:hover {
    background: $bgBlue1;
    border-color: $bgBlue1;
    color: $white;
    box-shadow: $box-shadow;
  }
}

.card-body {
  padding: $card-spacer-x 2.5rem;
}

.footer-menu {
  
  &.list-unstyled {
    margin-bottom: 3rem;
    
    li:not(:last-child) {
      margin-bottom: 10px;
    }      
  }

  a {
    color: $colorGrey1;
    font-weight: 400;
    line-height: 30px;
  
    &:hover {
      color: $colorBlue1;
    }
  }
}



.page-section {
  padding-top: 80px;

  p, h2, ul {
    margin-bottom: 40px;
  }
}

.animate-element-contact {
  position: relative;
  // z-index: 222;
  height: 465px;
  width: 408px;
  // bottom: -135px;

  img {
    position: absolute;
    bottom: 0;

    &:first-child {
      left: 5px;
      bottom: 55px;
    }

    &:nth-child(2) {
      bottom: 41px;
      left: 128px;
    }

    &:nth-child(3) {
      right: 0;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 110px;
    }
  }
}

.homepage-section-one {
  position: relative;
  padding-bottom: 140px;
}

.homepage-section1-images {
  position: relative;
  // top: 0;
  // right: 0;

  img {
    
    &:nth-child(2) {
      position: absolute;
      left: 70px;
      right: auto;
      top: 150px;
    }
  }
}

.image2 {
  position: absolute;
  right: 100px;
  bottom: -140px;
}


@media (min-width: map-get($grid-breakpoints, "sm")) {
  h2 {
    &.banner-title {
      font-size: 40px;
      line-height: 60px;
    }
  }
  

  .banner .banner-one {
    padding-top: 185px;
    margin-bottom: 100px;
  }

  .section-products {
    padding-top: 300px;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  h2 {
    font-size: 32px; // @todo: make this the global h2 size?
    line-height: 42px;
  }


}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  h2 {
    font-size: 36px; // @todo: make this the global h2 size?
    line-height: 42px;
  }

  .homepage-section1-images {
    // position: absolute;
    // right: 25px;
  
    img {
      max-width: 450px;

      &:first-child {
        position: absolute;
        right: 0;
      }

      &:nth-child(2) {
        right: 40px;
        left: auto;
        top: 150px;
      }
    }
  }

  .page-section {
    padding-top: 120px;
  }

  .section-products {
    padding-top: 400px;
  }

  .call-to-action {
    padding: 10em 0;
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .homepage-section1-images img:nth-child(2) {
    position: absolute;
    right: 100px;
    top: 180px;
  }
}







.page-banner {
  // @todo: remove
  background: #ccffcc;
  height: 300px;

  .container {
    padding-top: 40px;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
  }

  &.contact-page-banner {
    height: auto;
    // height: 700px;

    h1 {
      font-weight: 600;
      // font-size: 32px;
      // line-height: 54px;
    }

    .container {
      padding-top: 110px;
    }
  }
}

.text-large p {
  font-size: 18px;
  line-height: 34px;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .page-banner h1 {
    font-size: 40px;
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .page-banner {
    height: 400px;

    .container {
      padding-top: 30px;
    }

    h1 {
      font-size: 50px;
    }

    &.contact-page-banner {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .page-banner {
    height: 550px;

    h1 {
      font-size: 50px;
    }
  }
}
