.navbar-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0;

  .nav-item {
    margin: 0 23px;
    position: relative;
    border-bottom: 1px solid red;

    &:first-child {
      border-top: 1px solid red;
    }

    .nav-link {
      position: relative;
      font-size: 15px;
      font-weight: 500;


    }
  }

  &.navbar-light {
    .nav-link {
      color: $colorDark1;

      &:hover {
        color: $colorBlue1;
      }
    }

    // @todo: make primary colours?
    .btn-outline-primary {
      color: $colorBlue1;
      border-color: $colorBlue1;
      // border-width: 2px;

      &:hover {
        color: white;
        background: $colorBlue1;
      }
    }

  }

  &.navbar-fixed {
    position: fixed;
    -webkit-animation: slideY .65s cubic-bezier(.23,1,.32,1) both;
    animation: slideY .65s cubic-bezier(.23,1,.32,1) both;

    .navbar-brand img {
      &.main-logo {
        display: none;
      }
      &.alt-logo {
        display: inline;
      }
    }
  }

  .navbar-brand {
    display: block;
    width: 160px;

    img {
      width: 100%;

      &.alt-logo {
        display: none;
      }
    }
  }

  .btn {    
    border-color: transparent;

    &.btn-light {
      color: $colorBlue1;

      &:hover {
        color: white;
        background: $colorBlue1;
      }
    }
  }

  .navbar-close {
    display: none;
  }

}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown .dropdown-menu {
    margin-top: -20px;
  }

  .navbar-main {
    .nav-item {
      padding: 36px 0px;
      border: 0;

      .nav-link {
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 0;
          height: 1px;
          background: $navbar-dark-hover-color;
          // @todo: use bs transition?
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          left: 0;
          border: 0;
        }
      
        &:hover:after {
          width: 100%;
        }

        &.dropdown-toggle:after {
          top: inherit;
        }
      }

    }

    &.navbar-fixed .nav-item {
      padding: 28px 0;
    }
  }
}

.dropdown-toggle {
  width: 100%;
  text-align: left;

  &:after {
    right: 0;
    position: absolute;
    top: 0.5rem;
  }
}


// @todo: mobile first dummy!
@media (max-width: map-get($grid-breakpoints, "lg")) {
  .navbar-main {
    z-index: 1041;

    > .container {
      justify-content: center;
      position: relative;
    }

    .navbar-toggler {
      position: absolute;
      left: 0;
    }

    .navbar-collapse {
      background: green;
      position: fixed;
      left: -100%;
      top: 0;
      height: 100vh;
      width: 320px;
      transition: all .5s ease-in-out; // @todo: bs transition

      .navbar-close {
        display: block;
      }

      &.show {
        left: 0;
      }
    }
  }
}

.banner {
  height: 935px;

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 47px;
  }

  .banner-one {
    padding-top: 130px;
    margin-bottom: 50px;
  }
}

.section-blue {
  background-image: -webkit-linear-gradient(350deg, $bgBlue1, $bgBlue2);
  background-image: linear-gradient(100deg, $bgBlue1, $bgBlue2);
  color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  .btn-light:hover {
    background: transparent;
    color: $white;
  }
}

// TODO: all buttons rounded?
.btn.btn-rounded {
  border-radius: 30px;
  padding: 9px 37px;
  font-size: 14px;
  font-weight: 600;
  border-width: 2px;

  &.btn-lg {
    font-size: 16px;
    line-height: $line-height-base;
    padding: 14px 40px;
  }
}


// TODO: variables?
body {
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $colorGrey3;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;

  &.banner-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}




h3.subtitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  color: $primary;
  text-transform: uppercase;
}

.section-title {
  font-size: 1.75em;
  line-height: 1.4;
}

.section-products {
  padding-top: 76px;
}

img {
  max-width: 100%;
}

.section-grey {
  background: $bgGrey;
}

.call-to-action {
  padding: 5em 0;
}

.list-social li > a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border: 1px solid $borderGrey;
  display: block;
  border-radius: 50%;
  color: $colorGrey2;
  text-align: center;

  &:hover {
    background: $bgBlue1;
    border-color: $bgBlue1;
    color: $white;
    box-shadow: $box-shadow;
  }
}

.card-body {
  padding: $card-spacer-x 2.5rem;
}

.footer-menu {
  
  &.list-unstyled {
    margin-bottom: 3rem;
    
    li:not(:last-child) {
      margin-bottom: 10px;
    }      
  }

  a {
    color: $colorGrey1;
    font-weight: 400;
    line-height: 30px;
  
    &:hover {
      color: $colorBlue1;
    }
  }
}



.page-section {
  padding-top: 120px;

  p, h2, ul {
    margin-bottom: 40px;
  }
}

.animate-element-contact {
  position: relative;
  // z-index: 222;
  height: 465px;
  width: 408px;
  bottom: -135px;

  img {
    position: absolute;
    bottom: 0;

    &:first-child {
      left: 5px;
      bottom: 55px;
    }

    &:nth-child(2) {
      bottom: 41px;
      left: 128px;
    }

    &:nth-child(3) {
      right: 0;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 110px;
    }
  }
}

.contact-page-banner {
  height: 700px;
}


.homepage-section-one {
  position: relative;
  padding-bottom: 140px;
}

.homepage-section1-images {
  position: relative;
  // top: 0;
  // right: 0;

  img {
    
    &:nth-child(2) {
      position: absolute;
      left: 70px;
      right: auto;
      top: 150px;
    }
  }
}

.image2 {
  position: absolute;
  right: 100px;
  bottom: -140px;
}


@media (min-width: map-get($grid-breakpoints, "sm")) {
  h2 {
    font-size: 36px; // @todo: make this the global h2 size?
    line-height: 42px;

    &.banner-title {
      font-size: 40px;
      line-height: 60px;
    }
  }
  

  .banner .banner-one {
    padding-top: 185px;
    margin-bottom: 100px;
  }

  .section-products {
    padding-top: 300px;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {



}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .homepage-section1-images {
    // position: absolute;
    // right: 25px;
  
    img {
      max-width: 450px;

      &:first-child {
        position: absolute;
        right: 0;
      }

      &:nth-child(2) {
        right: 40px;
        left: auto;
        top: 150px;
      }
    }
  }


  .section-products {
    padding-top: 400px;
  }

  .call-to-action {
    padding: 10em 0;
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .homepage-section1-images img:nth-child(2) {
    position: absolute;
    right: 100px;
    top: 180px;
  }
}







.page-banner {
  // @todo: remove
  background: #ccffcc;
  height: 300px;

  .container {
    padding-top: 40px;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
  }
}

.text-large p {
  font-size: 18px;
  line-height: 34px;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .page-banner h1 {
    font-size: 40px;
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .page-banner {
    height: 400px;

    .container {
      padding-top: 30px;
    }

    h1 {
      font-size: 50px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  .page-banner {
    height: 550px;

    h1 {
      font-size: 50px;
    }
  }
}
