.navbar-main {
  z-index: 1041;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0;

  .nav-item {
    margin: 0 23px;
    position: relative;
    border-bottom: 1px solid red;

    &:first-child {
      border-top: 1px solid red;
    }

    .nav-link {
      position: relative;
      font-size: 15px;
      font-weight: 500;


    }
  }

  &.navbar-light {
    .nav-link {
      color: $colorDark1;

      &:hover {
        color: $colorBlue1;
      }
    }

    // @todo: make primary colours?
    .btn-outline-primary {
      color: $colorBlue1;
      border-color: $colorBlue1;
      // border-width: 2px;

      &:hover {
        color: white;
        background: $colorBlue1;
      }
    }

  }

  &.navbar-fixed {
    position: fixed;
    -webkit-animation: slideY .65s cubic-bezier(.23,1,.32,1) both;
    animation: slideY .65s cubic-bezier(.23,1,.32,1) both;
  }

  &.navbar-light  .navbar-brand img {
    &.main-logo {
      display: none;
    }
    &.alt-logo {
      display: inline;
    }
  }

  .navbar-brand {
    display: block;
    width: 160px;

    img {
      width: 100%;

      &.alt-logo {
        display: none;
      }
    }
  }

  .btn {    
    border-color: transparent;

    &.btn-light {
      color: $colorBlue1;

      &:hover {
        color: white;
        background: $colorBlue1;
      }
    }
  }

  .navbar-close {
    display: none;
  }

  .dropdown-toggle {
    width: 100%;
    text-align: left;
  
    &:after {
      right: 0;
      position: absolute;
      top: 0.5rem;
    }
  }

  > .container {
    justify-content: center;
    position: relative;
  }

  .navbar-toggler {
    position: absolute;
    left: 0;
    border-color: transparent;
  }

  .navbar-collapse {
    background: $white;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 320px;
    transition: all .5s ease-in-out; // @todo: bs transition

    .navbar-close {
      display: block;
    }

    &.show {
      left: 0;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .navbar-main {
    .nav-item {
      padding: 36px 0px;
      border: 0;

      .nav-link {
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 0;
          height: 1px;
          background: $navbar-dark-hover-color;
          // @todo: use bs transition?
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          left: 0;
          border: 0;
        }
      
        &:hover:after {
          width: 100%;
        }

        &.dropdown-toggle:after {
          top: inherit;
        }
      }

    }

    &.navbar-fixed .nav-item {
      padding: 28px 0;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }
    
    .dropdown .dropdown-menu {
      margin-top: -20px;
    }  

    > .container {
      justify-content: space-between;
    }

    .navbar-collapse {
      background: none;
      position: static;
      height: auto;
      left: auto;
      top: auto;
      width: auto;

      .navbar-close {
        display: none;
      }
    }
  }
}
