---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---
{% set title = 'Tagged “' + tag + '”' %}
{% set tags = true %}
{% include 'components/page-banner.njk' %}


<section class="page-section">
  <div class="container">
    {{ layoutContent | safe }}

    {% set postslist = collections[tag] %}
    {% include "components/postslist.njk" %}
  </div>
</section>
