<footer class="text-muted section-grey pt-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h5 class="mb-5">
          Products & Services
        </h5>
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="#">Navarik Inspection</a>
          </li>
          <li>
            <a href="#">Inspection Management System</a>
          </li>
          <li>
            <a href="#">Vessel Experience Factor</a>
          </li>
          <li>
            <a href="#">Bridge</a>
          </li>
          <li>
            <a href="#">Cloud Migration & Management</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-5">
        <h5 class="mb-5">
          Resources
        </h5>
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="#">Support Portal</a>
          </li>
          <li>
            <a href="#">Developer Tools - NI API</a>
          </li>
          <li>
            <a href="#">Developer Tools - Bridge API</a>
          </li>
          <li>
            <a href="#">GitHub Dev Resources</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="mb-5">
          Company
        </h5>
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="#">About Navarik</a>
          </li>
          <li>
            <a href="#">Careers</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>

        <p>
          4th floor - 56 E 2nd Ave,
          Vancouver, BC, Canada V5T 1B1
        </p>
        <p>
          <a href="#">(604) 633-0018</a>
        </p>
        <ul class="list-inline list-social mt-5">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-vimeo"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row pt-4 pb-5">
      <div class="col-md-6">
        <p>&copy; 2019 Navarik</p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-inline footer-menu">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item mx-3">
            |
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
