{% for post in postslist | reverse %}
  <article class="card mb-5 wow fadeInUp">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <time datetime="{{ post.date | machineDate }}">
          <small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
        </time>
      </h6>
      {% if post.data.summary %}
      <p class="card-text">
        {{ post.data.summary }}
      </p>
      {% endif %}
      {% if post.data.tags %}
      {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag" class="card-link badge badge-info">{{ tag }}</a>
      {%- endif -%}
      {% endfor %}
      {% endif %}
    </div>
  </article>
{% endfor %}
