<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="d-flex flex-column">

		<header>
      <nav id="navbar-main" class="navbar navbar-expand-lg navbar-main{% if section == 'homepage' %} navbar-dark{% else %} navbar-light navbar-fixed fixed-top{% endif %}">
        <div class="container">
          <a class="navbar-brand py-3" href="{{ '/' | url }}">
            <img src="/_includes/assets/img/nvrk-logo-white.svg" alt="{{ metadata.title }}" class="main-logo" />
            <img src="/_includes/assets/img/nvrk-logo-blue.svg" alt="{{ metadata.title }}" class="alt-logo" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="navbar" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="navbarCollapse">
            <div class="navbar-close text-right pt-3 pr-3" data-toggle="navbar">
              <button class="btn btn-link navbar-close-toggle" aria-label="Close">
                <i class="fas fa-times fa-2x"></i>
              </button>
            </div>
						{% include "components/nav.njk" %}
            {# <a class="btn btn-rounded ml-4 btn-light shadow" href="/index.html">Dashboard</a> #}
          </div>
        </div>
      </nav>
    </header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

    {# <div id="modal-backdrop hide" class="modal-backdrop fade"></div> #}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/_includes/assets/js/header.js"></script>
  	<script src="/_includes/dependencies/wow/js/wow.min.js"></script>
    <script src="/_includes/dependencies/swiper/js/swiper.min.js"></script>
    <script src="/_includes/assets/js/swiper.js"></script>
    <script src="/_includes/assets/js/app.js"></script>
    {# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> #}
	</body>

</html>
