<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="d-flex flex-column">

		<header>
      <nav id="navbar-main" class="navbar navbar-expand-md navbar-main{% if section == 'homepage' %} navbar-dark{% else %} navbar-light navbar-fixed fixed-top{% endif %}">
        <div class="container">
          <a class="navbar-brand" href="{{ '/' | url }}">
            <img src="/_includes/assets/img/nvrk-logo-white.svg" alt="{{ metadata.title }}" class="main-logo" />
            <img src="/_includes/assets/img/nvrk-logo-blue.svg" alt="{{ metadata.title }}" class="alt-logo" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
						{% include "components/nav.njk" %}
            <a class="btn btn-rounded ml-4 btn-light shadow" href="/index.html">Dashboard</a>
          </div>
        </div>
      </nav>
    </header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="_includes/assets/js/header.js"></script>
    <script src="_includes/dependencies/swiper/js/swiper.min.js"></script>
    <script src="_includes/assets/js/swiper.js"></script>

	</body>

</html>
