<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="d-flex flex-column">

		<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <a class="navbar-brand" href="{{ '/' | url }}">{{ metadata.title }}</a>
      {% include "components/nav.njk" %}
		</header>


		<main class="container py-5">
			{{ layoutContent | safe }}
		</main>

    <footer class="mt-auto bg-light p-3 text-center shadow border-top">
  		{% include "components/footer.njk" %}
    </footer>

	</body>

</html>
