---
layout: layouts/base.njk
section: blog
---
{% include 'components/page-banner.njk' %}

<section class="page-section">
  <div class="container wow fadeInUp">
    {{ layoutContent | safe }}

    {% set postslist = collections[tag] %}
    {% include "components/postslist.njk" %}
  </div>
</section>
