---
layout: layouts/base.njk
section: contact
---
<section class="page-banner contact-page-banner">
  <div class="container h-100">
    <div class="h-100">
      <div class="row h-100">
        <div class="col-lg-6 d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.2s">
          {{ layoutContent | safe }}
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
          <div class="animate-element-contact mx-auto my-5">
            <img src="/_includes/assets/img/animated/001.png" alt="" class="" />
            <img src="/_includes/assets/img/animated/002.png" alt="" class="" />
            <img src="/_includes/assets/img/animated/003.png" alt="" class="" />
            <img src="/_includes/assets/img/animated/004.png" alt="man" class="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pb-5 pb-md-0 wow fadeInUp">
        {% markdown location %}

        <ul class="list-unstyled text-primary">
          {% if telephone1 %}
          <li>
            <i class="fas fa-phone-alt mr-3"></i>
            {{ telephone1 }}
          </li>
          {% endif %}
          {% if telephone2 %}
          <li>
            <i class="fas fa-phone-alt mr-3"></i>
            {{ telephone2 }}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-6 wow fadeInUp">
        {% if contactTitle %}
        <h5>{{ contactTitle }}</h5>
        {% endif %}

        <ul class="list-unstyled">
          {% if email1 %}
          <li>
            <i class="far fa-envelope mr-3"></i>
            <a href="mailto:{{ email1 }}">{{ email1 }}</a>
          </li>
          {% endif %}
          {% if email2 %}
          <li>
            <i class="far fa-envelope mr-3"></i>
            <a href="mailto:{{ email1 }}">{{ email2 }}</a>
          </li>
          {% endif %}
          {% if website %}
          <li>
            <i class="far fa-life-ring mr-3"></i>
            <a href="{{ website | url }}">Support Portal</a>
          </li>
          {% endif %}
          {% if twitter %}
          <li>
            <i class="fab fa-twitter mr-3"></i>
            <a href="http://twitter.com/{{ twitter }}">@{{ twitter }}</a>
          </li>
          {% endif %}
          {% if linkedIn %}
          <li>
            <i class="fab fa-linkedin-in mr-3"></i>
            <a href="{{ 'http://www.' + linkedIn | url }}">{{ linkedIn }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>

