---
layout: layouts/base.njk
section: contact
---
<section class="page-banner contact-page-banner">
  <div class="container h-100">
    <div class="h-100">
      <div class="row h-100">
        <div class="col-lg-6 d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.2s">
          {{ layoutContent | safe }}
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
          <div class="animate-element-contact mx-auto my-5">
            <img src="/_includes/assets/img/animated/001.png" alt="" class="wow fadeInDown" />
            <img src="/_includes/assets/img/animated/002.png" alt="" class="wow fadeInUp" />
            <img src="/_includes/assets/img/animated/003.png" alt="" class="wow fadeInLeft" />
            <img src="/_includes/assets/img/animated/004.png" alt="man" class="wow fadeInUp" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg class="circle" data-parallax='{"x" : -200}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
    <path fill-rule="evenodd" stroke="rgba(0, 76, 151, 0.5)" stroke-width="100px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.051" fill="none" d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z" />
  </svg>

  <ul class="animate-ball">
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
    <li class="ball"></li>
  </ul>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pb-5 pb-md-0 wow fadeInUp">
        {% markdown location %}

        <ul class="list-unstyled text-primary">
          {% if telephone1 %}
          <li>
            <i class="fas fa-phone-alt mr-3"></i>
            {{ telephone1 }}
          </li>
          {% endif %}
          {% if telephone2 %}
          <li>
            <i class="fas fa-phone-alt mr-3"></i>
            {{ telephone2 }}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-6 wow fadeInUp">
        {% if contactTitle %}
        <h5>{{ contactTitle }}</h5>
        {% endif %}

        <ul class="list-unstyled">
          {% if email1 %}
          <li>
            <i class="far fa-envelope mr-3"></i>
            <a href="mailto:{{ email1 }}">{{ email1 }}</a>
          </li>
          {% endif %}
          {% if email2 %}
          <li>
            <i class="far fa-envelope mr-3"></i>
            <a href="mailto:{{ email2 }}">{{ email2 }}</a>
          </li>
          {% endif %}
          {% if website %}
          <li>
            <i class="far fa-life-ring mr-3"></i>
            <a href="{{ website | url }}">Support Portal</a>
          </li>
          {% endif %}
          {% if twitter %}
          <li>
            <i class="fab fa-twitter mr-3"></i>
            <a href="http://twitter.com/{{ twitter }}">@{{ twitter }}</a>
          </li>
          {% endif %}
          {% if linkedIn %}
          <li>
            <i class="fab fa-linkedin-in mr-3"></i>
            <a href="{{ 'http://www.' + linkedIn | url }}">{{ linkedIn }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>

