---
layout: layouts/base.njk
section: homepage
---
<section class="banner section-blue">
  <div class="container text-center">

    <div class="banner-one">        
      <h2 class="banner-title">
        {{ bannerTitle }}
      </h2>

      {% markdown bannerBody %}

      {% if bannerLinkTitle %}
      <div>
        <a class="btn btn-rounded btn-outline-light" href="{{ bannerLinkUrl }}">
          {{ bannerLinkTitle }}
        </a>
      </div>
      {% endif %}
    </div>

    {% if bannerImage %}
    <div>
      <img src="{{ bannerImage | url }}" alt="mockup" />
    </div>
    {% endif %}

  </div>
</section>

<section class="section-products">
  <div class="container pb-5">
    <div class="text-center">
      <h3 class="subtitle">
        {{ productsSubtitle }}
      </h3>

      <h2 class="mb-5">
        {{ productsTitle }}
      </h2>
    </div>

    <div class="row">
      {% if product1Image or product1Title or product1Description or product1LinkUrl %}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100">
          <div class="card-body">
            {% if product1Image %}
            <div class="row">
              <div class="col-10 col-sm-8 col-md-6 col-lg-12">
                <img src="{{ product1Image | url }}" class="pb-5 w-75" alt="{{ product1Title }}" />
              </div>
            </div>
            {% endif %}
            <h4 class="card-title">{{ product1Title }}</h4>
            <div class="card-text">
              {% markdown product1Description %}
            </div>
            <a href="{{ product1LinkUrl | url }}" class="btn btn-link text-muted">
              <i class="fas fa-arrow-right fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if product2Image or product2Title or product2Description or product2LinkUrl %}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100">
          <div class="card-body">
            {% if product2Image %}
            <div class="row">
              <div class="col-10 col-sm-8 col-md-6 col-lg-12">
                <img src="{{ product2Image | url }}" class="pb-5 w-75" alt="{{ product2Title }}" />
              </div>
            </div>
            {% endif %}
            <h4 class="card-title">{{ product2Title }}</h4>
            <div class="card-text">
              {% markdown product2Description %}
            </div>
            <a href="{{ product2LinkUrl | url }}" class="btn btn-link text-muted">
              <i class="fas fa-arrow-right fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if product3Image or product3Title or product3Description or product3LinkUrl %}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100">
          <div class="card-body">
            {% if product3Image %}
            <div class="row">
              <div class="col-10 col-sm-8 col-md-6 col-lg-12">
                <img src="{{ product3Image | url }}" class="pb-5 w-75" alt="{{ product3Title }}" />
              </div>
            </div>
            {% endif %}
            <h4 class="card-title">{{ product3Title }}</h4>
            <div class="card-text">
              {% markdown product3Description %}
            </div>
            <a href="{{ product3LinkUrl | url }}" class="btn btn-link text-muted">
              <i class="fas fa-arrow-right fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
</section>

<section>
  <div class="container pb-5">
    <h5 class="my-5 text-center">{{ companiesTitle }}</h5>

    <!-- @todo: replace swiper -->
    <div class="swiper-container" id="logo-carousel" data-perpage="6" data-breakpoints='{"1024": {"slidesPerView": 4}, "768": {"slidesPerView": 4}, "620": {"slidesPerView": 3}}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/1.png" alt="Chevron"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/2.png" alt="ExxonMobil"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/3.png" alt="BP"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/4.png" alt="andeavor"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/5.png" alt="Marathon"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/6.png" alt="Amspec"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/7.png" alt="Inspectorate"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/8.png" alt="intertek"></div>
        </div>
        <div class="swiper-slide">
          <div class="brand-logo"><img src="/_includes/assets/img/brand/9.png" alt="SGS"></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="homepage-section-one mt-3 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-md-5 mb-5 mt-lg-0">
        <h3 class="section-title py-4 pt-lg-0">{{ section1Title }}</h3>
        {% markdown section1Body %}
      </div>
      <div class="homepage-section1-images col-lg-6">
        {% if section1Image1 %}
        <img src="{{ section1Image1 | url }}" class="" alt="todo" />
        {% endif %}
        {% if section1Image2 %}
        <img src="{{ section1Image2 | url }}" class="" alt="todo" />
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center my-5">
      <h2>{{ technologiesTitle }}</h2>
    </div>
    <div class="row mb-md-5 text-center text-md-left">
      {% if technology1Image or technology1Title or technology1Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology1Image %}
        <img src="{{ technology1Image | url }}" class="pb-4" alt="{{ technology1Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology1Title }}</h5>
        <div class="card-text">
          {% markdown technology1Description %}
        </div>
      </div>
      {% endif %}
      {% if technology2Image or technology2Title or technology2Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology2Image %}
        <img src="{{ technology2Image | url }}" class="pb-4" alt="{{ technology2Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology2Title }}</h5>
        <div class="card-text">
          {% markdown technology2Description %}
        </div>
      </div>
      {% endif %}
      {% if technology3Image or technology3Title or technology3Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology3Image %}
        <img src="{{ technology3Image | url }}" class="pb-4" alt="{{ technology3Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology3Title }}</h5>
        <div class="card-text">
          {% markdown technology3Description %}
        </div>
      </div>
      {% endif %}
      {% if technology4Image or technology4Title or technology4Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology4Image %}
        <img src="{{ technology4Image | url }}" class="pb-4" alt="{{ technology4Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology4Title }}</h5>
        <div class="card-text">
          {% markdown technology4Description %}
        </div>
      </div>
      {% endif %}
      {% if technology5Image or technology5Title or technology5Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology5Image %}
        <img src="{{ technology5Image | url }}" class="pb-4" alt="{{ technology5Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology5Title }}</h5>
        <div class="card-text">
          {% markdown technology5Description %}
        </div>
      </div>
      {% endif %}
      {% if technology6Image or technology6Title or technology6Description %}
      <div class="col-lg-4 col-md-6 mb-5">
        {% if technology6Image %}
        <img src="{{ technology6Image | url }}" class="pb-4" alt="{{ technology6Title }}" />
        {% endif %}
        <h5 class="card-title mb-3">{{ technology6Title }}</h5>
        <div class="card-text">
          {% markdown technology6Description %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="section-blue call-to-action text-center text-lg-left">
  <div class="container">
    <div class="row align-items-center justify-content-between text-white">
      <div class="col-lg-7 pb-4">
        <h2 class="mb-3">{{ section2Title }}</h2>
        {% markdown section2Body %}
      </div>
      <div class="col-lg-5 text-lg-right">
        {% if section2LinkTitle %}
        <a href="{{ section2LinkUrl | url }}" class="btn btn-rounded btn-lg btn-light shadow">
          {{ section2LinkTitle }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div class="text-center my-5">
      <h3 class="subtitle">{{ resourcesSubtitle }}</h3>
      <h2>{{ resourcesTitle }}</h2>
    </div>

    <div class="row">
      {% if resource1Image or resource1Title %}
      <div class="col-md-6">
        <a href="{{ resource1Link | url }}">
          <div class="media p-5 mb-4 rounded shadow">
            {% if resource1Image %}
            <img src="{{ resource1Image | url }}" class="mr-3" alt="{{ resource1Title }}">
            {% endif %}
            <div class="media-body align-self-center">
              {{ resource1Title }}
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if resource2Image or resource2Title %}
      <div class="col-md-6">
        <a href="{{ resource2Link | url }}">
          <div class="media p-5 mb-4 rounded shadow">
            {% if resource2Image %}
            <img src="{{ resource2Image | url }}" class="mr-3" alt="{{ resource2Title }}">
            {% endif %}
            <div class="media-body align-self-center">
              {{ resource2Title }}
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if resource3Image or resource3Title %}
      <div class="col-md-6">
        <a href="{{ resource3Link | url }}">
          <div class="media p-5 mb-4 rounded shadow">
            {% if resource3Image %}
            <img src="{{ resource3Image | url }}" class="mr-3" alt="{{ resource3Title }}">
            {% endif %}
            <div class="media-body align-self-center">
              {{ resource3Title }}
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% if resource4Image or resource4Title %}
      <div class="col-md-6">
        <a href="{{ resource4Link | url }}">
          <div class="media p-5 mb-4 rounded shadow">
            {% if resource4Image %}
            <img src="{{ resource4Image | url }}" class="mr-3" alt="{{ resource4Title }}">
            {% endif %}
            <div class="media-body align-self-center">
              {{ resource4Title }}
            </div>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="section-blue call-to-action">
  <div class="container text-center">
    <h2>{{ section3Title }}</h2>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% markdown section3Body %}
      </div>
    </div>
  </div>
</section>
