---
layout: layouts/base.njk
section: product
---

<section class="page-banner d-flex align-items-center text-center">
  <div class="container">
    <h1>{{ title }}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current Page</li>
      </ol>
    </nav>
  </div>
</section>

<section class="page-section">
  <div class="container">

    {% if productImage1 or productTitle or layoutContent %}
    <div class="row pb-5">
      <div class="col-lg-5">
        {% if productImage1 %}
        <img src="{{ productImage1 }}" alt="TODO" />
        {% endif %}
      </div>
      <div class="col-lg-7">
        <div class="px-5 pt-4">
          <h3 class="subtitle">{{ productSubtitle }}</h3>
          <h2 class="mb-5">{{ productTitle }}</h2>
          <div class="text-large">
            {{ layoutContent | safe }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="px-5 text-large">
      {% markdown productContent2 %}
    </div>

    {% if productImage2 %}
    <div class="px-5 text-center">
      <img src="{{ productImage2 }}" alt="TODO" class="py-5" />
    </div>
    {% endif %}

    <div class="px-5">
      {% markdown productContent3 %}
    </div>
  </div>
</section>

<section class="section-blue call-to-action text-center">
  <div class="container">
    <h2>Interested in a demo?</h2>
    <a href="/contact.html" class="btn btn-rounded btn-lg btn-light shadow">
      Get in touch
    </a>
  </div>
</section>
