---
layout: layouts/base.njk
section: product
---

<section class="page-banner d-flex align-items-center text-center">
  <div class="container">
    <div class="page-title-wrapper">
      <h1 class="page-title">{{ title }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Current Page</li>
        </ol>
      </nav>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">

    {% if productImage1 or productTitle or layoutContent %}
    <div class="row pb-5">
      <div class="col-lg-5">
        {% if productImage1 %}
        <img src="{{ productImage1 }}" alt="TODO" />
        {% endif %}
      </div>
      <div class="col-lg-6">
        <div class="pl-5">
          <h3 class="subtitle">{{ productSubtitle }}</h3>
          <h2 class="mb-5">{{ productTitle }}</h2>
          {{ layoutContent | safe }}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-11">
        {% markdown productContent2 %}
      </div>
    </div>

    {% if productImage2 %}
    <div>
      <img src="{{ productImage2 }}" alt="TODO" class="py-5" />
    </div>
    {% endif %}

    <div>
      {% markdown productContent3 %}
    </div>
  </div>
</section>


